@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #0E6E64;
  /* Azul Turquesa */
  --color-primary-dark: #074740;
  /*teal profundo*/
  --color-secondary: #E7B554;
  /* dorado/ámbar*/
  --color-secondary-dark: #059669;
  --color-background: #F4F7F8;
  --color-surface: #F1F5F9;
  --color-text-main: #12232E;

  --font-sans: "Inter", sans-serif;
  --font-heading: "Outfit", sans-serif;
}

@layer base {
  body {
    @apply text-[var(--color-text-main)] bg-[var(--color-background)] font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading tracking-tight;
  }
}